/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header{
	height: 150px;
	position: relative;
	display: flex;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #212121;

}
.description{
	height: 150px;
}
.description p{
	font-size: 16px;
	margin-left: 30px;
	margin-top: 30px;
}
.exhibition{
	width: 300px;
	height: 150px;
	background-color: #212121;
}
h1{
	color: white;
	margin-left: 20px;
}
.titlebox{
	position: absolute;
	width: 200px;
	height: 150px;
	
	background-color: #212121;
}
.title-bar{
	margin-top: 40px;
	height: 150px;
	position: relative;
	background-color: white;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #212121;
/*	background-color: #F2F1EF;*/

}
.title-bar h1{
	position: absolute;
	margin-left: 20px;
	top : 50%;
	transform: translateY(-50%);
}
.content-artwork{
	margin-top: 40px;
}
.new-work{
	font-size: 16px;
}
.gridcontent{
	display: flex;
	flex-direction: row; 	
}

.hvr-grow {
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1);
  transform: scale(0.1.0.1);
}
.content-artwork{
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #212121;
}
.buttonbox{
	width: 100%;
	height:100%;
}
.img{
	position: relative;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/*categories*/
.categories{
	display: flex;
}
.cat p, .cat h2{
	color:white;
	text-align: justify;
	margin-left: 10px;
	margin-right: auto;
	padding-right: 30px;
}
.cat{
	border-radius: ;
	border-style: solid;
	border-width: 1px;
	border-color: #F2F1EF;
	height: 300px;
	padding-top: 30px;
}
.smooth{
	background-color: #F47983;
}
.medium{
	background-color: #C93756;
}
.hard{
	background-color: #9D2933;
}
@media (max-width: 992px){
	.gridcontent{
		display: flex;
		flex-direction: column;
	}
	.artwork{
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	.content-artwork{
		margin-left: auto;
		margin-right: auto;
	}

}